{% extends "travelingMechanic/index.html" %}
{% load static %}
{% block content %}
    <div class="content-section">
        <form method="POST" id="new-commission-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="Save">Request Assistance</button>
        </form>
    </div>


    <script type="text/javascript" defer>
        successCallback = (position) =>{
            console.log(position);
            setCoords(position.coords.latitude, position.coords.longitude);
            fillCoords();
        };
        errorCallback = (position) => {
            console.log(position);
        };
        navigator.geolocation.getCurrentPosition(successCallback, errorCallback, {
            enableHighAccuracy: true,
            timeout: 10000
        });
    </script>
{% endblock %}