{% extends "travelingMechanic/index.html" %}
{% load static %}
{% block content %}
<div>
    <h1 style = "padding: 1rem 1rem 1rem 3rem; border-bottom: 0.2rem solid black">Post your commission</h1>
    <div class="content-section" style = "margin: 0 0 0 3rem">
        <form method="POST" id="new-commission-form" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="Save">Request Assistance</button>
        </form>
    </div>
</div>


    <script type="text/javascript" defer>
        successCallback = (position) =>{
            console.log(position);
            setCoords(position.coords.latitude, position.coords.longitude);
            fillCoords();
        };
        errorCallback = (position) => {
            console.log(position);
        };
        navigator.geolocation.getCurrentPosition(successCallback, errorCallback, {
            enableHighAccuracy: true,
            timeout: 10000
        });
    </script>
{% endblock %}
