{% extends "travelingMechanic/index.html" %}
{% load static %}
{% block content %}
<div id="map"></div>
<!-- Have a refresh button that pulls coordinates and updates map -->


<script>
    var latt = 50.6516;
    var lngg = 80.6752;
    var locations = [];

    const successCallback = (position) =>{
        console.log(position);
        latt = position.coords.latitude;
        lngg = position.coords.longitude;
    };
    const errorCallback = (position) => {
        console.log(position);
    };
    navigator.geolocation.getCurrentPosition(successCallback, errorCallback, {
        enableHighAccuracy: true,
        timeout: 10000
    });


    function initMap(){
        var userPos = {lat: latt, lng: lngg}
        var options = {
            zoom:18,
            center:userPos
        }

        var map = new google.maps.Map(document.getElementById('map'), options);

        locations = [
           {% for point in data %}
                {% if point.lat == None %}
                {% else %}
                ['<h4>{{ point.title }}</h4>', {{ point.lat }}, {{ point.long }}],
                {% endif %}
           {% endfor %}
        ]


        for(let x = 0; x < locations.length; x++){
            addMarker({
                coords:{lat:parseFloat(locations[x][1]), lng:parseFloat(locations[x][2])},
                content:locations[x][0]
            });
        }


        var currentInfoWindow = null;

        function addMarker(props){
            var marker = new google.maps.Marker({
              position: props.coords,
              map: map,
            });
            // check content
            if(props.content){
                var infoWindow = new google.maps.InfoWindow({
                    content:props.content
                });
            }
            // event listener for marker
            marker.addListener('click', function(){
                if (currentInfoWindow != null) {
                    currentInfoWindow.close();
                }
                infoWindow.open(map, marker);
                currentInfoWindow = infoWindow;
                document.getElementById("commission-info").style.display="block";

                console.log(currentInfoWindow);
            });
        }



}
</script>

<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeIsksLrYM0yZshKCRI2UOfY58OU6_bHI&callback=initMap&v=weekly"
      async defer
    ></script>
{% endblock %}
{% block leftPanel %}
  <!-- iteractive commission panel goes here -->

    <div id="commission-info" style="display: none">
        <ul id="commission-list">
            <li id="commission-title">test</li>
            <li id="commission-description"></li>
            <li id="commission-asking-price"></li>
            <li id="image"></li>
        </ul>
    </div>

    {% for commission in commissions%}
        <a href="{%url 'commission-detail' commission.id%}"><button>{{commission.title}}</button></a>
    {% endfor %}
{% endblock %}
