body{
    padding: 0;
    margin: 0;
    background-color: #6abadeba;
    font-family: "Roboto";
}

.form {
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    opacity: 99%;
    max-width: 260px;
    margin: 200px auto 100px;
    padding: 10px 45px 30px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.form p{
    font-size: 15px;
    padding: 1px;
    text-align: center;
}
.form input {
    outline: 0;
    border-radius: 10px;
    background: #F2F2F2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box
    font-size: 14px
}
.form input:hover {
    background-color: #D3F8F9
    transition: all 1s ease 0s
}

.form input:focus {
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    border-radius: 10px;
    background: #1ADBE5;
    width: 100%
    border: 0;
    badding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

