{%load crispy_forms_tags%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
      <title> Login Page </title>
      <link rel = "stylesheet" type = "text/css" href = "{%static 'style.css'%}" />
  </head>
   <body style = "background-image: url({% static 'images/colorful.jpeg' %});  background-repeat: no-repeat;  background-size: cover;">
    <div class = "form">
    <p>Traveling Mechanics</p>
    <form method="POST" >
        {%csrf_token%}
        {{form|crispy}}
        <button type="submit"> Login </button>
        <p class = "message"> Not registered? </p> <a href = "/user/register">Create an account</a></p>
        <a href="{% url 'password_reset'%}"><small>Forgot your password?</small></a>
    </form>
    </div>

  </body>
</html>







