{% extends "travelingMechanic/index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'user/style.css' %}">

<div class="publicProfile1">
  <img src={{user.webuser.profilePic.url}} class = "profilePic">

  <h1 class = "profileName">
    {{user.first_name}} {{user.last_name}}
  </h1>

  <form style = "margin: 0 0 0 4rem;" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    {{uForm|crispy}}
    {{wForm|crispy}}
    <button type="submit">Submit changes</button>
  </form>
{% endblock%}
