{%load crispy_forms_tags%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Reset Password Page </title>
      <link rel = "stylesheet" type = "text/css" href = "{%static 'style.css'%}" />
  </head>
   <body style = "background-image: url({% static 'images/colorful.jpeg' %});  background-repeat: no-repeat;  background-size: cover;">
    <div class = "form">
    <p>Reset Password</p>
     <form method="POST" >
        {%csrf_token%}
        {{form|crispy}}
        <button type="submit"> Reset Password Request</button>
    </form>
    </div>

  </body>
</html>
