{% extends "travelingMechanic/index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'user/style.css' %}">

<div class="publicProfile1">
  <h1 class = "profileName">
    {{user.first_name}} {{user.last_name}}
  </h1>

  <h3>Reviews for {{user.username}}</h3>
    {%for review in reviews%}
        <h5>Review by {{review.author.user.username}}</h5>
        <h6>Stars: {{review.stars}}</h6>
        <h6>{{review.description}}</h6>
    {%endfor%}
{% endblock%}
{% block leftPanel %}

<a href="{% url 'user-profile' %}">
  <div class="publicProfileLink">
    <img src={{user.webuser.profilePic.url}} class = "publicProfilePic">
    <h2 style = "margin: 3.5rem 0 0 13rem">Public Profile</h2>
  </div>
</a>

<a href="{% url 'password_reset'%}">
  <div class="securityLink">
    <img src={% static 'images/lock.png' %} class = "securityPic">
    <h2 style = "margin: 4rem 0 0 13rem">Security</h2>
  </div>
</a>

<a href="{% url 'user-reviews'%}">
  <div class="reviewsLink">
    <img src={% static 'images/goldStar.png' %} class = "reviewsPic">
    <h2 style = "margin: 3.8rem 0 0 13rem">Reviews</h2>
  </div>
</a>

{% endblock %}